<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        bootstrap="tests/bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="benchmark">
            <directory>tests/Benchmark</directory>
        </testsuite>
        <testsuite name="main">
            <file>tests/StreamBusBuilderTest.php</file>
            <directory>tests/Consumer</directory>
            <directory>tests/Processor</directory>
            <directory>tests/Producer</directory>
            <directory>tests/Serializer</directory>
            <directory>tests/StreamBus</directory>
        </testsuite>
        <testsuite name="parallel">
            <directory>tests/Parallel</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>
